.body{

	background-color: #000000;
	color: #374b5e;
	background: #f7f7f7;
	font-family: 'Kanit', sans-serif;
  
  }

  .img-fluid{
	   max-width: 100%;
  }

  





  /* Right-aligned link */
  .navbar a.right {
	float: right;
  }
  

  
  
 
/* # General
================================ */


  
  /* # Header, Main Menu
  ================================ */
  
  .navbar {
	
	margin-bottom: 0;
	background-color: #ffffff;
	background:#f15b2a;
	transition: all 0.2s ease-out;
  }

  
  .navbar-container {
	  position: relative;
  }
  
  .navbar .navbar-nav li a {
	font-size: 17px;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.2s ease-out;
	font-family: 'Kanit', sans-serif;
  }
  
  .navbar-brand {
	font-size: 25px;
	transition: all 0.2s ease-out;
  }
  
  .navbar-scroll {
	opacity: 1;
  }
  
  #top-social-menu {
	display: none;
  }
  
  
  @media (min-width: 768px) {
	.navbar {
	  height: 110px;
	}
  
	.navbar-nav>li>a {
	  padding: 0;
	  margin-top: 35px;
	  margin-left: 15px;
	  line-height: 70px;
	}
  
	.navbar-brand {
	  font-size: 28px;
	  padding: 0;
	  height: 100px;
	  line-height: 120px;
	}
  
	#top-social-menu {
	  display: initial;
	}
  
	/* Navbar when scrolled */
  
	.navbar-scroll {
	  height: 70px;
	}
  
	.navbar-scroll #top-social-menu {
	  display: none;
	  transition: all 0.2s ease-out;
	}
  
	.navbar-scroll .navbar-brand {
	  height: 70px;
	  line-height: 70px;
	}
  
	.navbar-scroll .navbar-nav>li>a {
	  opacity: 1;
	  padding: 0;
	  margin-top: 0;
	}
  }
  
  /* # Hover Link Effect
  ================================ */
  @media (min-width: 768px) {
	.navbar-nav>li>a::after {
	  position: absolute;
	  top: 80%;
	  left: 0; 
	  height: 1px;
	  background: #000;
	  content: '';
	  opacity: 0;
	  transition: height 0.3s, opacity 0.3s, transform 0.3s;
	  transform: translateY(-10px);
	}
  
	.navbar-nav>li>a:hover::after,
	.navbar-nav>li>a:focus::after {
	  height: 2px;
	  opacity: 1;
	  transform: translateY(0px);
	  
	}
  }
  
  /* # Social menu
  ================================ */
  
  #top-social-menu {
	position: absolute;
	top: 7px;
	right: 0;
	font-size: 12px;
	font-family: 'Kanit', sans-serif;
	z-index: 101;
	padding-right: 0px;
	list-style: none;
	color: #ffffff;
	transition: all 0.2s ease-out;
	
	
  }
  
  #top-social-menu li {
	float: left;
	padding: 10px 15px;
	
  }
  
  #top-social-menu li:last-child {
	padding-right: 0;
  }
  
  #top-social-menu li a {
	text-decoration: none;
	color: #000;
  }
  
  #top-social-menu li a:hover {
	text-decoration: none;
	color: #543A1A;
  }
  
  #top-social-menu i {
	   font-size: 16px;
	   
	
	transition: all 0.2s ease-in;
  }
  
  #top-social-menu i:hover {
	text-decoration: none;
	color: #543A1A;
  }
  
  /* # Section Full Width Image
  ================================ */
  
  .full-width-img {
	background: url('http://res.cloudinary.com/do5ht5y0y/image/upload/v1501322753/bg-cp-header_zps4ghnoxc7_zx2ayd.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	padding-top: 100px;
	height: 450px;
	color: #fff;
  }
  
  .box {
	  background: rgba(0, 0, 0, 0.4);
	border: 3px solid #000;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	padding: 10px 20px;
  }
  
  .subheading-text {
	list-style: none;
	font-size: 35px;
	line-height: 50px;
  }
  
  @media (min-width: 768px) {
  
	.full-width-img {
	  padding-top: 110px;
	  height: 1000px;
	}
  
	.subheading-text {
	  font-size: 50px;
	  line-height: 70px;
	}
  
	.box {
	  margin-top: 100px;
	  padding: 80px 20px;
	}
  }
  /* # Section Black, White
  ================================ */
  
  .section-black,
  .section-white {
	  padding: 50px 0;
	  color: #fff;
	  line-height: 1.7;
  }
  
  .section-black h3,
  .section-white h3 {
	  margin-bottom: 60px;
  }
  
  .section-black p,
  .section-white p {
	margin-bottom: 60px;
  }
  
  .section-black {
	  background: linear-gradient(#363437, #121112);
  }
  
  .section-white {
	  background: linear-gradient(#ffffff, #f3f3f3);
	color: #0e0d0e;
  }
  
  .dropdown-menu {
	background-color: #FF6F61;
  }

  .dropdown {
	position: relative;
	display: inline-block;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f15b2a;
	min-width: 160px;
	margin-left: 14px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: #FFFFFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	min-width: 230px;
  }
  
  .dropdown-content a:hover {
	background-color: #fff !important;	
	color: #000 !important;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
	background-color: #dc8c61
	
  }
  

  
  
  .content {
	  max-width: 1520px;
	  margin: auto;
	  background: #f5f5f5;
	}
	.content0 {
		max-width: 1110px;
		margin: auto;
		background: #ffffff;
		padding: 40px;
	   
	  }
	  .content1 {
		max-width: 1520px;
		margin: auto;
		background-color: #FF9364;
		background-size: cover;
		padding: 50px;
		color:#ffffff;

	  }
	.content2 {
		max-width: 1520px;
		margin: auto;
		background-color: #e9e9e9;
		background-size: cover;
		padding: 30px;
		color:#000;
	   
	  }
  	.content22 {
		max-width: 1520px;
		margin: auto;
		background-color: #f8f8f8;
		background-size: cover;
		padding: 30px;
		color:#000;
	   
	  }
	  .content3 {
		max-width: 1520px;
		margin: auto;
		background: #f5f5f5;
		padding: 10px;
	   
	  }
  	.content4 {
		max-width: 100%;
		
		background: #eeeeee;
		padding: 20px;
	   
	  }
  
  @media screen and (max-width:320px){
	  header .head .tile.socialmedia{
		  display: none;
	  }
  }

  
  @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px
}
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size: 15px;

 columns: #000000;;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
.a {
 color:#000;
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:20px 0 0px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#374b5e
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#fff
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:10px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400;
 padding-left: 10px;
 font-family: 'Kanit', sans-serif;
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}

  
 

 
  
  


  .navbar-nav li a {
	  background-color: #f15b2a!important;
  }



  .new-hamberg img{
	width: 100%;
	height: 100%;
  }



  .new-hamberg {
  	width: 40px;
    height: 40px;
    margin-top: -10px;
	 
  }
  
